body {
  background-color: lightgrey;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  position: relative;
}

.introWrapper{
  position:fixed;
  right:0;
  bottom: 0;
  top:0;
  left: 0;
  z-index:10;
  background-color: pink;
}

.introContent {
  color: #272727;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.introBtnEnter {
  cursor: pointer;
}

.wave {
  width: 100vw;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0.5;
}


